.player-container {
    /*border: 1px solid red;*/
    
    height: 106px;
    width: 100%;
    padding: 20px;
    margin: 10px;
    background-color: black;
    border-radius: 10px;
    flow-children: down;
}
.row {
    width: 100%;
    flow-children: right;
}
.player-container Label {
    color: white;
    font-size: 20;
    /*text-align: right;*/
    
    width: 100%;
}
#player-name {} #player-czar {
    width: 40%;
    font-size: 30;
    text-align: left;
}
#player-points {
    font-size: 30;
    width: 60%;
}